/*Resizes the moyai img*/
body {
    font-family: 'Vast Shadow', serif;
    background-color:#6B615F;
    color:#CCEB5B;
   
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Arbutus', serif;

}

/*Header*/

/*Width will be 100% of viewport when 500px or less*/

header > img {

 border:  #8d966c 14px solid;
 height: 150x;
 width: 200px;
 max-width: 400px;
}

header {

    text-align: center;
    font-size: 19px;
    
}
h1 {

    text-decoration: underline;

}
 
/*Websites*/




/*Reviews*/



/*End*/

#end, footer {
    text-align: center;
}   
#end > img{
width: 400px;
height: 600px;
    
}

/*Tablet Media Rules*/

@media(max-width: 800px) {

    body {
        background-color:maroon;
        font-size:large;
    }

    header > img {

       width: 200px;  
    }
}


/*Mobile Media Rules*/

@media(max-width: 500px) {
    header > img {

       width: 120px;
       height: 160px;  
    }
    header  {
        font-size: 12px
    }
    body {
        background-color: #CCEB5B;
        
        color: #536735;
        font-size: 12px
    }
    

    #end > img {

        width: 200px;
        height: 300px;
    }
    footer {

    }
}

